# Python
venv
.venv/
.cache
.env
.tox
__pycache__
*.py[co]
.coverage
.pytest_cache

# data
seed_data


# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

es_logs
db/*


# TODO: remove redundant ignores like seed_data, es_logs, db
# suggestion: use gitingore generator like https://www.toptal.com/developers/gitignore/api/python