fastapi
uvicorn
pydantic
ujson
starlette
yarl

web3
tenacity
requests
urllib3
aiohttp


# logging
elastic-apm
python-logstash-async
logstash_formatter

# testing
pytest
pytest-cov
pytest-asyncio

dexguru-sdk
